{% extends 'base.html' %}
{% block title %}Daily Appointments{% endblock %}

{% block content %}

<style>
    .container {
        width: 50%;
    }
    .table-hover {
        width: 40%;
    }
    th {
        background: lightgray;
        font-size: 30px;
    }
    td {
        background: #e7e6ff;
        font-size: 20px;
    }
</style>

<div class="topnav">
    <a class="active" href="{% url 'daily' %}">Daily View</a>
    <a href="{% url 'weekly' %}">Weekly View</a>
  </div>
<div class='container'>
{% if DailyAppointments %}

<h1>Appointments for {{week_day}}, {{current_date}}:</h1>
<table class='table table-hover'>
    {% for appointment in DailyAppointments %}
    <tr>
        <th>
            {{appointment.1}}<a href="{% url 'detailed_view' appointment.0.pk %}">detailed view</a></th>
    </tr>
    <tr>
        <td>
            {{appointment.0.client.name}}</td>
    </tr>
    <tr>
        <td>
            {{appointment.0.get_setting_display}}</td>
    </tr>
    <tr><td style='background: white; line-height: 0.5em;'><br></td></tr>
    {% endfor %}
</table>

{% else %}
    <h1>No appointments for {{week_day}}, {{current_date}}</h1>
{% endif %}

<a href="{% url 'previous_day' %}" class="previous">&laquo; Previous day</a>
<a href="{% url 'next_day' %}" class="next">Next day &raquo;</a>

</div>
{% endblock %}
