{% extends 'base.html' %}
{% block title %}{{current_date}}{% endblock %}

{% block content %}

<button><a href="{% url 'homepage' %}">Home</button></a>
<button><a href="{% url 'weekly' %}">Weekly View</button></a>

{% if CurrentDay %}

<h1>Appointments for {{current_date}}:</h1>
<table>
    {% for appointment in CurrentDay %}
    <tr>
        <th style="background-color: turquoise; font-size: 30px;">
            {{appointment.datetime}}</th>
    </tr>
    <tr>
        <td style="background-color: beige; font-size: 20px;">ID: {{appointment.id}}</td>
    </tr>
    <tr>
        <td style="background-color: beige; font-size: 20px;">
            Setting: {{appointment.get_setting_display}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <h1>No appointments for {{current_date}}</h1>
{% endif %}

<button><a href="{% url 'previous_day' %}">Previous Day</button></a>
<button><a href="{% url 'next_day' %}">Next Day</button></a>

{% endblock %}
