{% extends 'base.html' %}
{% block title %}Daily Appointments{% endblock %}

{% block content %}

<div class="topnav">
    <a class="active" href="{% url 'daily' %}">Daily View</a>
    <a href="{% url 'weekly' %}">Weekly View</a>
  </div>

{% if DailyAppointments %}

<h1>Appointments for {{week_day}}, {{current_date}}:</h1>
<table>
    {% for appointment in DailyAppointments %}
    <tr>
        <th style="background-color: turquoise; font-size: 30px;">
            {{appointment.1}}</th>
    </tr>
    <tr>
        <td style="background-color: beige; font-size: 20px;">
            {{appointment.0.client.name}}</td>
    </tr>
    <tr>
        <td style="background-color: beige; font-size: 20px;">
            {{appointment.0.get_setting_display}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <h1>No appointments for {{week_day}}, {{current_date}}</h1>
{% endif %}

<!-- <button class='button'><a href="{% url 'previous_day' %}">Previous Day</button></a>
<button class='button'><a href="{% url 'next_day' %}">Next Day</button></a> -->

<a href="{% url 'previous_day' %}" class="previous">&laquo; Previous day</a>
<a href="{% url 'next_day' %}" class="next">Next day &raquo;</a>

{% endblock %}
