{% extends 'base.html' %}
{% block title %}Detailed View{% endblock %}

{% block content %}

<style>
    .container {
        width: 50%;
        font-size: 25px;
    }
</style>

<div class="topnav">
    <a class="active" href="{% url 'daily' %}">Daily View</a>
    <a href="{% url 'weekly' %}">Weekly View</a>
</div>


<div class="container">
    <table class="table table-hover">
      <tbody>
        <tr>
            <td>Date:</td>
            <td>{{AppointmentDetails.0.event_date}}</td>
            
        </tr>
        <tr>
            <td>Setting:</td>
            <td>{{AppointmentDetails.0.get_setting_display}}</td>
            
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{AppointmentDetails.0.client.name}}</td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>{{AppointmentDetails.0.problem}}</td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td>{{AppointmentDetails.0.notes}}</td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td>Session number:</td>
            <td>{{AppointmentDetails.0.client.session_number}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{AppointmentDetails.0.client.email}}</td>
        </tr>
        <tr>
            <td>Recurring:</td>
            <td>{{AppointmentDetails.0.recurring}}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{AppointmentDetails.0.price}}</td>
        </tr>
        <tr>
            <td>Receipt</td>
            <td>{{AppointmentDetails.0.receipt}}</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
