{% extends 'base.html' %}
{% block title %} Next Day {% endblock %}
{% block content %}

<button><a href="{% url 'homepage' %}">Home</button></a>
<button><a href="{% url 'weekly' %}">Weekly View</button></a>

{% if CurrentDay %}

<h1>Today's appointments are:</h1>
<table>
    {% for appointment in CurrentDay %}
    <tr>
        <th style="background-color: turquoise; font-size: large;">
            Date: {{appointment.datetime}}</th>
    </tr>
    <tr>
        <td style="background-color: beige;">ID: {{appointment.id}}</td>
    </tr>
    <tr>
        <td style="background-color: beige;">
            Setting: {{appointment.get_setting_display}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <h1>No appointments for {{DayWithoutAppointments}}</h1>
{% endif %}

<button><a href="{% url 'previous_day' %}">Previous Day</button></a>
<button><a href="{% url 'next_day' %}">Next Day</button></a>

{% endblock %}