{% extends 'base.html' %}
{% block title %} Weekly Appointments {% endblock %}

{% block content %}


<button><a href="{% url 'homepage' %}">Daily View</button></a><br>

<h1 style='text-align: center;'>This week's appointments are:</h1>
<h2 style='text-align: center;'>({{dates.0.1}} {{dates.0.2}} - {{dates.4.1}} {{dates.4.2}})</h2>

{% for date in dates %}
    <span class="col-md-1" style="background-color:turquoise; font-size:30px;">
        {{date.0}} | {{date.1}} {{date.2}}
    </span>
    {% for appointment in WeeklyAppointments %}
        {% if appointment.0.datetime.day == date.2 %}
        <div class="row" style="background-color:beige; font-size:20px;">
                
                <p>{{appointment.1}}<br>
                {{appointment.0.clientID.name}}<br>
                {{appointment.0.get_setting_display}}</p>
        </div>
    
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}
