{% extends 'base.html' %}
{% block title %} Weekly Appointments {% endblock %}

{% block content %}

<head>
    <style>
        th {
            background: lightgray;
            width: 15%;
        }
        .color_separator {
            background: #e7e6ff;
            width: 15%;
        }
        .container {
            width: 100%;
        }


        .table_reverse {
	        display: table;
        }
        .table_reverse tr {
	        display: table-cell;
        }
        .table_reverse tr td {
	        display: block;
        }


    </style>
</head>


<div class="container">
    <h1 style='text-align: center;'>This week's appointments are:</h1>
    <h2 style='line-height: 0.3em; text-align: center;'>({{dates.0.1}} {{dates.0.2}} - {{dates.4.1}} {{dates.4.2}})<h2>
    <p style='text-align: center; display: inline-block; white-space: nowrap;'>
    <a href="{% url 'previous_week' %}" class="previous">&laquo; Previous week
    <a href="{% url 'next_week' %}" class="next">Next week &raquo;</a>
    </p>
    <p style='line-height: 0.5em;'><br></p>
    <table class="table table-hover">
    {% for date in dates %}
        <tr><th>{{date.0}} | {{date.1}} {{date.2}}</th></tr>
        {% if no_appointments %}
            <tr><td style='line-height: 0.5em;'><br></td></tr>
        {% endif %}
        {% for appointment in WeeklyAppointments %}
            {% if user.username == appointment.0.user.username %}
                {% if appointment.0.event_date.day == date.2 %}
                    <tr class='color_separator'><td>{{appointment.1}}
                    <a href="{% url 'detailed_view' appointment.0.pk %}">view</a>
                    <a href="{% url 'edit_appointment' appointment.0.pk %}">edit</a>
                    </td></tr>
                    <tr class='color_separator'><td>{{appointment.0.client.name}}</td></tr>
                    <tr class='color_separator'><td>{{appointment.0.get_setting_display}}</td></tr>
                    <tr class='color_separator'><td>{{appointment.0.user.username}}</td></tr>
                    <tr><td style='line-height: 0.5em;'><br></td></tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
</div>



<div class="container">
    <h1 style='text-align: center;'>This week's appointments are:</h1>
    <h2 style='line-height: 0.3em; text-align: center;'>({{dates.0.1}} {{dates.0.2}} - {{dates.4.1}} {{dates.4.2}})<h2>
    <p style='text-align: center; display: inline-block; white-space: nowrap;'>
    <a href="{% url 'previous_week' %}" class="previous">&laquo; Previous week
    <a href="{% url 'next_week' %}" class="next">Next week &raquo;</a>
    </p>
    <p style='line-height: 0.5em;'><br></p>

<table border="1" class='table_reverse'>
    {% for date in dates %}
    <tr>
        <td>{{date.0}} | {{date.1}} {{date.2}}</td>
        {% for appointment in WeeklyAppointments %}
            {% if user.username == appointment.0.user.username %}
                {% if appointment.0.event_date.day == date.2 %}
                <td>
                <p>current date: {{appointment.0.event_date.day}}</p>
                <p>{{appointment.1}}</p>
                <a href="{% url 'detailed_view' appointment.0.pk %}">view</a>
                <a href="{% url 'edit_appointment' appointment.0.pk %}">edit</a>
                <p>{{appointment.0.client.name}}</p>
                <p>{{appointment.0.get_setting_display}}</p>
                <p>{{appointment.0.user.username}}</p>
                </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    
</table>
</div>

{% endblock %}
